{:itonami.blueprint/id "cloud-itonami-isic-7912"
 :itonami.blueprint/name "Community Tour Operator Operations"
 :itonami.blueprint/isic-rev5 "7912"
 :itonami.blueprint/domain :commercial/tour-operator-services
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:consumer-protection :local-jobs :access-to-travel]
 :itonami.blueprint/governor :tour-operator-governor
 :itonami.blueprint/robotics true
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger :labor]
 :itonami.blueprint/optional-technologies [:optimization]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/maturity :implemented
 :db/id -1}
